* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
<<<<<<< HEAD
  font-family: 'Trebuchet MS', sans-serif;
=======
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> 970a2b876807d08aefabd4e7447ab8b4b70df9a6
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  
}

#trybewarts-header-title {
  padding: 25px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}
.caixa-flex{
  display: flex;
background-color:cornflowerblue;
width: 675px;

}
