* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 65px;
  width: 100%;
  justify-content: space-between;
}

#trybewarts-header-title {
  padding: 25px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  padding: 25px;
}
.caixa-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: flex-end;
  height: 500px;
  flex-grow: 1;
}
