* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('images/índice.jpeg');
  min-height: 100vh;
  background-size: cover;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 65px;
  width: 100%;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.caixa-flex {
  display: flex;
  flex-direction: row;
  color: lightgrey;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 50px;
}

.logo {
  display: flex;
  justify-content: flex-end;
  height: 500px;
  flex-grow: 1;
}

.seleciona-familia {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  margin-top: 25px;
}

.seleciona-conteudo {
  margin-left: 25px;
}

.avalia-trybewarts {
  margin-top: 25px;
}

.textarea {
  display: flex;
  margin-top: 25px;
}

.concorda-info {
  margin-top: 25px;
}

.botao-enviar {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 500px;
}

.rodape {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
